<div class="row">
  <div class="col-sm-12">
    <button (click)="login()" class="btn btn-lg btn-primary">
    Login
    </button>

    <button (click)="loginWithOptions()" class="btn btn-lg btn-primary">
    Login with Options
    </button>

    <button class="btn btn-lg btn-primary" (click)="getLoginStatus()">
    Get login status
    </button>

    <button (click)="getProfile()" class="btn btn-lg btn-primary">
    Get profile
    </button>

    <button (click)="getFriends()" class="btn btn-lg btn-primary">
    Get friends
    </button>

    <button (click)="getFeed()" class="btn btn-lg btn-primary">
    Get feed
    </button>
  </div>
</div>
